.form{
    text-align: center;
    position: relative;
    margin-top: 10%;
}
.btn{
    position: relative;
    top: 10px;
}
.form p{
    margin-top: 15px;
    margin-bottom: 25px;

}
.form input{
    padding: 10px 20px ;
}
.footer-icons{
    display: flex;
    gap: 20px;
    margin-left: 48%;
}