.book-card{
    display: flex;
    gap: 30px;
    padding: 10px;
    width: 70%;
}
.Home{
    width: 100%;
    height: 80vh;
    display: flex;
    gap: 5px;
}
.select-book{
    border-left: 1px solid gray;
    width: 30%;
}
h3{
    padding: 10px;
    text-align: center;
}

@media (max-width:900px) {
    .Home{
        display: flex;
        
    }
    .book-card{
        display: block;
        padding: 10px;
        width: 60%;
    }
    .select-book{
        border-left: 1px solid gray;
        width: 40%;
    }
}